@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-family: "Montserrat", sans-serif !important;
}

.city-selection.selected, .pub-selection.selected {
    background-color: #082F49;
    color: #ffffff;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}









/*@keyframes exampleAnimation {*/
/*    0% {*/
/*        transform: translateX(0);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(-500px);*/
/*    }*/
/*}*/

/*.slider{*/
/*    animation: exampleAnimation 2s ease-in-out forwards !important;*/
/*}*/


